<nav class="navbar navbar-expand-lg bg-body border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand fw-semibold" asp-controller="Home" asp-action="Index">Fleet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="topnav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Rentals" asp-action="Index">Rentals</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Equipment" asp-action="Index">Equipment</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Maintenance" asp-action="Index">Maintenance</a></li>
            </ul>
            <div class="d-flex gap-2">
                <input class="form-control" type="search" placeholder="Search…" />
                <button class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</nav>
